section#contact.hero.is-dark
  .hero-body
    .container.has-text-centered
      h2.title
        span> Interested in direct access to expert help?
      p.subtitle
        span.line> Contact us to learn more about our support packages and working with our support team.
      p.info: a href='mailto:hello@opendevise.com' hello<span>@</span>opendevise.com
