.about-index-page {
  .hero.about {
    .hero-body {
      align-items: flex-start;
      padding-top: 12rem;
      padding-bottom: 6rem;
      //@media (min-aspect-ratio: 3/2) {
      //  padding-top: 8rem;
      //  padding-bottom: 4rem;
      //}
    }
    .title {
      font-family: $prose-family;
      //font-size: 1.25rem;
      //font-size: 1.3125rem;
      font-size: 1.5rem;
      font-weight: $weight-normal;
      line-height: 1.45;
      letter-spacing: -0.015em;
      background: linear-gradient(to bottom, $primary-ter 0%, $primary-ter 100%) no-repeat left center / 0.75rem 80%;
      padding-left: 2rem;
      max-width: 90%;
      .line + .line {
        color: rgba(0, 0, 0, 0.48);
      }
      @include tablet {
        margin-left: 0;
        font-size: 2.75rem;
        max-width: 80%;
        line-height: 1.25;
        letter-spacing: 0;
        padding-left: 2.5rem;
      }
    }
  }

  .section.serve {
    padding-top: 8.5rem;
    padding-bottom: 1.5rem;
    background: linear-gradient(to right, rgba(0, 10, 50, 0.5) 0%, rgba(0, 10, 50, 0.5) 100%) no-repeat, url(../img/about-serve-bg.jpg) no-repeat center center / cover;
    .title {
      color: #fff;
      font-size: 1.0625rem;
      text-align: left;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
      font-weight: 300;
      line-height: 1.45;
    }
    @include tablet {
      padding-top: 6rem;
      padding-bottom: 9rem;
      background: linear-gradient(to right, rgba(0, 10, 50, 0.75) 0%, rgba(0, 10, 50, 0) 65%) repeat, url(../img/about-serve-bg.jpg) no-repeat 0% 20% / 150% auto;
      .container {
        display: flex;
        align-items: center;
        height: 100%;
      }
      .title {
        font-size: 1.25rem;
        max-width: 40%;
      }
    }
  }

  .def {
    .title {
      font-family: $prose-family;
      text-transform: uppercase;
      letter-spacing: 0.075em;
    }
    .body {
      font-family: $heading-family;
      font-size: 1.0625rem;
      font-weight: $weight-light;
      //letter-spacing: 0.125em;
      letter-spacing: 0.1em;
    }
  }

  .bio {
    .name {
      font-family: $prose-family;
      font-size: $size-1;
      font-weight: $weight-normal;
      line-height: 1.125;
    }

    .role {
      font-family: $heading-family;
      font-weight: $heading-weight;
      text-transform: uppercase;
      font-size: $size-normal;
      line-height: 1.25;
    }

    .story {
      font-weight: $weight-light;
      font-size: 1.125rem;
      margin-top: 3rem;
      p + p,
      .paragraph + .paragraph,
      .paragraph + p {
        margin-top: 1.5rem;
      }
    }

    &#sarah {
      background-color: #9440a5;
      //background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%) no-repeat, url(../img/deviser/sarah.jpg) no-repeat 25% 25% / cover;
      //background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%) no-repeat, url(http://placeskull.com/1920/2560/363636/25/0) no-repeat 25% 25% / cover;

      @include tablet {
        background-color: #363636;
        //background: url(../img/deviser/sarah.jpg) no-repeat 100% 0% / 45% auto, linear-gradient(to right, #363636 0%, #363636 100%) no-repeat;
        //background: url(http://placeskull.com/1920/2560/363636/25/0) no-repeat 100% 0% / 45% auto, linear-gradient(to right, #363636 0%, #363636 100%) no-repeat;
      }

      .role {
        //color: #aa934f;
        color: #d0b050;
      }
    }

    &#dan {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%) no-repeat, url(../img/deviser/dan.jpg) no-repeat 25% 25% / cover;
      @include tablet {
        background: url(../img/deviser/dan.jpg) no-repeat 0% 0% / 45% auto, linear-gradient(to right, #9440a5 0%, #9440a5 100%) no-repeat;
      }

      .role {
        color: #d0c837;
      }
    }

    .social .icon + .icon,
    .social a + a {
      margin-left: 0.5em;
    }
  }
}
