.hero .subtitle .tag {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: $weight-medium;
  font-size: 0.7em;
  height: 1.5em;
  padding: 0 0.125rem 0 0.375rem;
  vertical-align: 0.1em;
  .delete {
    background: none;
    &::before {
      height: 1.5px;
    }
    &::after {
      width: 1.5px;
    }
  }
}

.blog-menu {
  .card {
    display: flex;
    flex-direction: column;
    border-radius: $radius-large;
    @include mobile {
      box-shadow: none;
      padding-bottom: 1.75rem;
      border-bottom: 1px dotted $hr-background-color;
      border-radius: 0;
    }
  }

  a.image, a.summary {
    color: $text;
    display: block;
  }

  .card-image img {
    border-radius: $radius-large $radius-large 0 0;
  }

  .card-content {
    flex: 1 1 auto;
    position: relative;
    padding: 1rem 0 0.875rem 0;
    @include tablet {
      box-shadow: 0 -1px 2px -1px rgba(10, 10, 10, 0.2), 0 -2px 4px -2px rgba(10, 10, 10, 0.2);
      height: $blog-card-height;
      overflow-y: hidden;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }

  time {
    display: block;
    font-weight: $weight-light;
    //font-size: 0.8125rem;
    font-size: 0.875rem;
    color: $grey;
    margin-bottom: 0.25rem;
    //margin-bottom: 0.125rem;
  }

  .article-title {
    //text-transform: uppercase;
    font-weight: $weight-medium;
    letter-spacing: -0.015em;
    //font-size: 1rem;
    font-size: 1.125rem;
    line-height: 1.25;
    //margin: 0 0 0.5rem 0;
    margin: 0 0 0.625rem 0;
  }

  .excerpt {
    font-weight: $weight-light;
    //font-size: 0.9375rem;
    font-size: 1rem;
    // clip text after x lines
    //display: -webkit-box;
    //-webkit-box-orient: vertical;
    //-webkit-line-clamp: 5;
    strong {
      font-weight: $weight-semibold;
    }
  }

  .tags.cloud {
    .label {
      display: inline-flex;
      font-weight: $weight-medium;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
      font-size: 0.75rem;
      &.is-medium {
        font-size: 1rem;
      }
    }
  }

  .card .tags {
    margin-top: 1rem;
    @include tablet {
      margin-top: 0;
      position: absolute;
      right: 1.25rem;
      bottom: 0;
      left: 1.25rem;
      padding-top: 2.5rem;
      padding-bottom: 0.875rem;
      background: linear-gradient(to bottom, transparent 0%, #fff 2rem);
      //pointer-events: none;
      //.tag {
      //  pointer-events: auto;
      //}
    }
    .tag {
      font-size: 0.8125rem;
    }
  }

  .section.feature {
    padding-bottom: 0;
    @include mobile {
      margin-bottom: -1.5rem;
    }
  }

  .featured {
    &.card {
      box-shadow: none;
      flex-direction: row;
      margin: 0 auto;
      @include mobile {
        border-top: 1px dotted $hr-background-color;
        border-radius: 0;
        padding-top: 2.25rem;
      }
      @include tablet-only {
        width: $container-tablet-max;
      }
    }

    .card-image {
      flex: 0 0 auto;
      @include tablet {
        flex-basis: colspan-width($container-tablet-max, 3, 2);
      }
      @include desktop {
        flex-basis: colspan-width($container-desktop, 3, 2);
      }
      @include widescreen {
        flex-basis: colspan-width($container-widescreen, 3, 2);
      }
      @include fullhd {
        flex-basis: colspan-width($container-fullhd, 3, 2);
      }

      img {
        //border-radius: $radius-large 0 0 $radius-large
        border-radius: $radius-large;
        box-shadow: $card-shadow;
      }
    }

    .card-content {
      box-shadow: none;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      height: auto;
      overflow-y: hidden;
      @include tablet {
        max-height: colspan-width($container-tablet-max, 3, 1) + $column-gap-px;
      }
      @include desktop {
        max-height: colspan-width($container-desktop, 3, 1) + $column-gap-px;
      }
      @include widescreen {
        max-height: colspan-width($container-widescreen, 3, 1) + $column-gap-px;
      }
      @include fullhd {
        max-height: colspan-width($container-fullhd, 3, 1) + $column-gap-px;
      }
    }

    .tags {
      padding-bottom: 0.25rem;
    }
  }

  .home-page & .card {
    @include tablet {
      .tag {
        display: none;
      }
    }
    &:not(.featured) {
      .card-content {
        height: auto;
      }
      @include tablet {
        .tags {
          display: none;
        }
      }
    }
  }
}
