.hero.is-small {
  h1.title {
    //font-weight: $weight-light;
    //font-weight: $weight-normal;
    font-weight: $weight-semibold;
    margin-bottom: 0.5rem;
  }

  p.subtitle {
    color: rgba($primary-invert, 0.7);
    font-weight: $weight-light;
  }
}

.hero.category {
  .title {
    color: $primary-bis;
    font-weight: $weight-normal;
    text-transform: uppercase
  }
  .subtitle {
    font-weight: $weight-medium;
  }
  .desc {
    margin-top: 1.5rem;
    .column {
      //background-color: #efefef;
      background-color: #f1f1f1;
    }
    p {
      font-weight: $weight-light;
      letter-spacing: 0.005em;
      padding: 0.25rem 0;
    }
  }
}

.section.carte .column {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title.heading {
  font-size: 1.75rem;
  font-weight: $weight-bold;
  letter-spacing: -0.01em;
  background: linear-gradient(to right, $primary-bis 0%, $primary-bis 100%) no-repeat left bottom/2.25rem 0.25rem;
  padding-bottom: 0.75rem;
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  + .subtitle {
    color: inherit;
    font-weight: $weight-light;
    letter-spacing: -0.015em;
  }
}

.subtitle.is-prose {
  line-height: inherit;
}

p.is-prose {
  margin-top: 1.5rem;
}

.table tbody th {
  font-weight: $weight-medium;
}

#contact {
  font-family: $heading-family;
  .hero-body {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: $weight-bold;
    margin-bottom: 0;
    span {
      white-space: nowrap;
      //&:first-of-type {
      //  text-transform: uppercase;
      //}
    }
  }

  .subtitle {
    font-size: 1.25rem;
    font-weight: $weight-light;
    letter-spacing: -0.015em;
    margin: 1.5rem 0 3rem 0;
    line-height: inherit;

    @include tablet {
      span.line {
        display: block;
      }
    }
  }

  .info {
    position: relative;
    //text-shadow: 0 0 10px #232422;
    font-weight: $weight-bold;
    letter-spacing: -0.015em;
    font-size: 1.5rem;
    font-size: 7.5vw;

    @include tablet {
      font-size: 3rem;
    }

    span {
      font-weight: $weight-light;
      //text-shadow: none;
    }

    &::before {
      content: '';
      background: linear-gradient(to right, $primary-bis 0%, $primary-bis 100%) no-repeat top center / 4.5rem 100%;
      position: absolute;
      top: -1.5rem;
      left: 0;
      width: 100%;
      height: 0.25rem;
    }
  }
}

.oss .box {
  .fa {
    font-size: 1.375rem;
    width: 1.375rem;
    text-align: center;
  }

  .level {
    margin-bottom: 1rem;
  }
}
