.home-page {
  .hero.is-primary {
    .navbar-menu {
      color: rgba($primary-invert, 0.7);
    }

    // NOTE when using 100vh on mobile, page jumps when browser autohides location bar
    min-height: auto;
    @include tablet {
      min-height: 100vh;
    }

    .hero-body {
      // use this if mobile font size is 87.5%
      //padding-top: 6.5rem;
      //padding-bottom: 9.5rem;
      // use this if mobile font size is 93.75%
      padding-top: 6rem;
      padding-bottom: 10rem;
      // use this if mobile font size is 100%
      //padding-top: 4.75rem;
      //padding-bottom: 7.25rem;
      @include tablet {
        padding-top: 0;
        padding-bottom: 0;
      }

      .container {
        @include tablet {
          flex: 0 1 75%;
        }
      }
    }

    h1.title {
      line-height: 1.25;
      word-break: normal;

      @include tablet {
        font-size: 3.5rem;
        text-align: right;
        white-space: nowrap;
      }
    }

    span.line {
      display: block;
      @include tablet {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 0.0625em 2.5rem 0.125em 2.5rem;
        + span.line {
          margin-top: 0.75rem;
          position: relative;
          left: -2.5rem;
        }
      }
    }

    p.subtitle {
      font-family: $heading-family;
      font-weight: $weight-light;
      letter-spacing: -0.005em;
      line-height: 1.4;
      margin-top: 0;
      @include tablet {
        font-size: $size-large;
        padding: 0 0.5em;
      }
    }
  }

  .section {
    h2.title {
      text-transform: uppercase;
      font-weight: $weight-light;
      letter-spacing: -0.025em;
      margin-bottom: 3.25rem;
      padding-bottom: 0.75rem;
      background: linear-gradient(to right, $primary-bis 0%, $primary-bis 100%) no-repeat left bottom / 2.25rem 0.25rem;
    }

    h3.title {
      font-size: 1.75rem;
      font-weight: $weight-bold;
      margin-bottom: 1rem;
      letter-spacing: -0.01em;
    }

    p.subtitle {
      color: inherit;
      font-size: 1.25rem;
      font-weight: $weight-light;
      letter-spacing: -0.015em;
      line-height: inherit;
    }
  }

  #clients {
    box-shadow: 0 0 1vw rgba($black, 0.1);
    padding: 0.5rem 0;
    position: relative;

    .columns {
      align-items: center;
      margin: 0;
    }

    .column {
      display: flex;
      justify-content: center;
      padding: 0;
      &:not(.text) {
        opacity: 0.6;
      }
    }

    .title {
      padding: 0 1rem;
      text-transform: uppercase;
      font-size: 1.125rem;
      letter-spacing: 0.0625em;
      font-weight: $weight-normal;
      white-space: nowrap;
    }

    .image {
      max-width: 75%;
      img {
        height: 100px;
        width: auto;
      }
    }
  }

  #expertise {
    @include touch {
      .columns.is-desktop > .column {
        width: auto;
        margin-left: 0;
      }
    }

    h2.title {
      word-break: normal;
      @include desktop {
        text-align: right;
        margin-bottom: 0;
        background-position: right bottom;
      }
    }

    h3.subtitle {
      //color: $primary;
      color: inherit;
      font-size: $size-4;
      font-weight: $heading-weight;
    }

    p.desc, li {
      font-size: 1.125rem;
    }

    ul {
      margin-top: 1.5rem;
    }

    li {
      padding-top: 0.5rem;
      font-weight: $weight-medium;
    }
  }

  .is-alternative {
    //background-color: $background;
    background-color: #f0f0f0;
  }

  li.tick {
    display: flex;
    &::before {
      flex-shrink: 0;
      // TODO maybe switch to this color as the primary
      color: darken(saturate($primary, 20%), 5%);
      content: "\f00c";
      font-family: FontAwesome;
      display: inline-block;
      //width: 2.25rem;
      width: 2rem;
      padding-left: 0.25rem;
    }
  }
}
