// NOTE disable background highlight on navbar items
.navbar {
  .navbar-item,
  .navbar-link,
  .navbar-burger {
    background-color: transparent !important;
  }
}

// NOTE make navbar menu match color of dark navbar
@include touch {
  .navbar.is-dark .navbar-menu {
    //background-color: inherit;
    background: linear-gradient(141deg, #692989 0%, #9440a5 71%, #be41be 100%);
    .navbar-item,
    .navbar-link {
      color: rgba(255, 255, 255, 0.7);
      //color: $grey-light;
      &:hover,
      &.is-active {
        color: $white;
      }
    }
  }
}

@include desktop {
  .navbar > .container .navbar-brand {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
}

.navbar-brand img {
  max-height: none;
  width: 7.75rem;
  @include tablet {
    width: 8.375rem;
  }
}

@include desktop {
  body:not(.home-page) .navbar a.is-active {
    box-shadow: inset 0 0.25rem 0 $primary;
  }
  .navbar-menu {
    font-size: 0.9375rem;
  }
}
