@function rem-to-px($rems) {
  @return ($rems * $body-size) / ($rems * 0 + 1);
}

$body-size: 16px;
//$body-size-mobile: 0.875 * $body-size;
$body-size-mobile: 0.9375 * $body-size;
$family-primary: Montserrat, sans-serif;
$family-monospace: 'Roboto Mono', monospace;
//#93399d
//$primary: hsl(294, 47%, 42%);
////#b63aae
//$primary-bis: hsl(304, 52%, 47%);
////#672380
//$primary-ter: hsl(284, 57%, 32%);
//$text: rgb(34, 34, 34);
//or from material palette (see https://material.colorion.co/palette/3325)
////#9c27b0
//$primary: hsl(291, 64%, 42%);
////#bc37d3
//$primary-bis: hsl(291, 64%, 52%);
////#7b1fa2
//$primary-ter: hsl(282, 68%, 38%);
//$text: rgb(34, 34, 34);
//#9340a4
$primary: hsl(290, 44%, 45%);
//#3e60d0
//$primary-bis: hsl(226 , 61%, 53%);
//#b91d5e
$primary-bis: hsl(335, 73%, 42%);
//#de2b74
$primary-ter: hsl(336, 73%, 52%);
//#242325
//$text: hsl(270, 3%, 14%);
//#242424
$text: $black-ter;

$dark: $black-ter;
$dark-invert: $white-ter;

$link: $primary;

//$heading-family: $family-primary;
//$heading-font-weight: $weight-bold;
$heading-family: Montserrat, sans-serif;
$heading-weight: $weight-semibold;

$title-color: $text;
$title-family: $heading-family;
$title-weight: $weight-semibold;

$subtitle-family: $heading-family;

$prose-family: 'Noto Serif', serif;
//$prose-color: rgba(0, 0, 0, 0.84);
$prose-color: $text;

$section-padding-ends: 3rem;
$section-padding-sides: 1.25rem;
$section-padding-ends-small: 1.5rem;
$section-padding-ends-medium: 9rem;
$section-padding-ends-large: 18rem;
$section-padding: $section-padding-ends $section-padding-sides;
$section-padding-small: $section-padding-ends-small $section-padding-sides;
$section-padding-medium: $section-padding-ends-medium $section-padding-sides;
$section-padding-large: $section-padding-ends-large $section-padding-sides;

$gap: 20px;
$column-gap: 0.75rem;
$column-gap-px: rem-to-px($column-gap);

$container-tablet: 769px;
// 15px accounts for the width of the scrollbar
$container-tablet-max: $container-tablet - (2 * rem-to-px($section-padding-sides)) - 15px;
$container-desktop: 960px;
$container-widescreen: 1152px;
$container-fullhd: 1344px;

$tablet: $container-tablet;
$desktop: $container-desktop + (2 * $gap);
$widescreen: $container-widescreen + (2 * $gap);
$fullhd: $container-fullhd + (2 * $gap);

@function colspan-width($container-width, $cols, $span) {
  $inner-column-gap-px: 2 * $column-gap-px;
  $column-width: ($container-width - $inner-column-gap-px * ($cols - 1)) / $cols;
  @return $column-width * $span + ($span - 1) * $inner-column-gap-px;
}

$blog-card-height: 245px;
