header.header role='banner'
  = partial '/_partials/navbar', locals: { color: 'dark' }
section.hero.is-primary.is-bold.is-small
  .hero-body
    .container
      .columns.is-vcentered.is-gapless.is-mobile
        .column
          h1.title.is-size-3.is-spaced = data.site.blog.title
          p.subtitle.is-size-5
            |Articles tagged
            span.tag.is-primary<
              = tagname
              = link_to '', 'blog/index', class: 'delete is-small'
        .column.is-narrow
          a href=(asset_url 'blog/feed.xml') : span.icon.is-large.is-size-1 : i.fa.fa-rss
main.blog-menu role='main'
  section.section
    .container
      .columns.is-multiline
        - page_articles.each do |article|
          .column.is-one-third
            = partial '/_partials/article-card', locals: { article: article }
